<a href="https://colab.research.google.com/github/Prasad0505/Python_Basic_practice/blob/main/Python_basic_pratice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [ ]:
pi=3.14
num=float(input("Enter radius of circle:"))

Area=pi*num*num
print("Area of circle is",Area)

Enter radius of circle:5
Area of circle is 78.5

In [ ]:
a=5
b=6
c=7
if a>b:
     print("a is greater")
elif a>c:
     print("a is greater")
elif b>c:
     print("b is greater")
else:
   print("c is greater")

c is greater

In [ ]:
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
n=4
n=n+1
for i in range(2,n):
                    if(n%i==0):
                      print("not prime")
                      break
                    else:
                     print("It is prime Number")
                     break

It is prime Number

In [ ]:
n=5
n+=2
print(n)

7

In [ ]:

n=334
sum=0
while(n!=0):
            
             sum=sum+(n%10)
             n=n//10

print(sum)

10

In [ ]:
n=334
sum = 0
while (n != 0):
                   n=n%10
                   sum = sum + n
                   n = n//10

                   print(sum)

4

In [ ]:
string1=str(input('Enter the string:'))
d={}
for i in string1:
    if i in d:
      print(i)

Enter the string:prasad

In [ ]:
s=input("Enter Some String:")
d={}
for x in s:
  if x in d.keys():
                  print(x,d[x])
                  d[x]=d[x]+1
  else:
     d[x]=1
for k,v in d.items():
   print("{} = {} Times".format(k,v))

print(d)

Enter Some String:prasad
a 1
p = 1 Times
r = 1 Times
a = 2 Times
s = 1 Times
d = 1 Times
{'p': 1, 'r': 1, 'a': 2, 's': 1, 'd': 1}

In [5]:
s='prasad'
for i in s:
                 print(i)

p
r
a
s
a
d

In [ ]:
d={}

if x not in d.keys():
                       print(x)
                       d[x]=4
                       d[x]=d[x]+1
print(d)

d
{'d': 5}

In [ ]:
#for i in range(1,6):
 # for j in range(1,i):
   #    print("*",end="")
       
 # print("\n")

for i in range(1,5):
                    print("*"*i)

*
**
***
****

In [11]:
N=int(input("Enter The number:"))
fac=1
for i in range(N,0,-1):
                        fac=fac*i
                        

print(f"The factorial of {N} is :",fac)

Enter The number:5
The factorial of 5 is : 120

In [15]:
n=int(input("number:"))
p=n
fact=1
while(n>0):
            fact=fact*n
            n=n-1

print(f"The factorial of {p} is :",fact)

number:6
The factorial of 6 is : 720

In [ ]:
p=1200
r=5.4
t=2
A= p*(1+r/100)**t
ci=A-p
print(ci)

133.0992000000001

fabinocii series:

In [ ]:

n=7
n1=0
n2=1
sum=0
for i in range(0,n):
      print(sum,end=' ')
      n1=n2
      n2=sum
      sum=n1+n2

0 1 1 2 3 5 8

In [ ]:
#Program to print mutiplication of two numbers without using * oprator
num1=int(input("Enter number1:"))
num2=int(input("Enter number2:"))
result=0
for i  in range(1,num2+1):
                       result=result+num1


print("The multiplication of two numbers without using * oprator is:",result)

Enter number1:3
Enter number2:4
The multiplication of two numbers without using * oprator is: 12

In [ ]:
import math
#Proram to print iven number is fabonacii or not
num=int(input("Enter any integer number:"))
c=5*(num**2)+4
d=5*(num**2)-4

g=int(math.sqrt(c))
m=int(math.sqrt(d))

if g*g==c or m*m==d:
          print("The given number is fabonacii")

else:
          print("The given number is not fabonacii")

Enter any integer number:4
The given number is not fabonacii

In [17]:
b=2
a=3
if (b==2 and a==3):
                    print("hello programer")

hello programer